<!DOCTYPE html>
<html>
<head>
    <title>Task Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="dashboard-container">

    <div class="top-bar">

        <div>
            <h1>Welcome, {{ username }} 👋</h1>
            <p>Manage your daily tasks</p>
        </div>

        <a href="/logout" class="logout-btn">Logout</a>

    </div>

    <div class="task-box">

        <form action="/add" method="POST" class="task-form">

            <input type="text" name="task" placeholder="Enter new task..." required>

            <button type="submit">Add Task</button>

        </form>

        <ul class="task-list">

            {% for task in tasks %}

            <li>

                <span>{{ task[1] }}</span>

                <a href="/delete/{{ task[0] }}" class="delete-btn">
                    Delete
                </a>

            </li>

            {% endfor %}

        </ul>

    </div>

</div>

</body>
</html>
